*{
    padding: 0%;
    margin: 0%;
}
header{
    width: 100%;
    justify-content: space-around	;
    align-items: center;
    display: flex;
    background-color: #979DAC

}
header a{
    text-decoration: none;
    color: black;

}
.nav{
    width: 28%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.logo{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 24%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    color: transparent;  
    font-size: 40px;
}
.home{
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.introduccion{
    width: 80%;
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.img{
    width: 500px;
    height: 300px;
}
.text1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    font-size: 20px;
}
.t{
    font-size: 19px;
}
.modelos{
    width: 80%;
    height: 500px;
    margin: 10px auto;

}
.calidad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:2em;
}
.calidad a{
    text-decoration: none;
}
.cuadro{
    width: 100%;
    height: 200px;
    justify-content: center;
    display: flex;
    border: 1px solid black;
    text-align: center;
    background-color: #023E7D;
    color: white;
    box-shadow: 2px 2px 4px black;
}
td{
    text-align:center;
    padding: 5px;

}
th{
    text-align: center;
}